{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Willkommen bie Cycleways{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Willkommen bei Cycleways
                </h1>

                <p class="lead">
                    Cycleways sammelt Informationen zu Gefahrenstellen für Radfahrer und schlechter Fahrradinfrastruktur.
                </p>
            </div>
        </div>
        {{ timelineContent|raw }}
    </div>
{% endblock %}
