<select class="selectpicker">
    {% for status in statusList %}
    <option{% if status == incident.incidentStatus.status %} selected="selected"{% endif %}>
        {{ status.caption }}
    </option>
    {% endfor %}
</select>
